picture, img{
    max-width: 100%;
    height: auto;
}

.inner-wrapper {
    background: @white;
    padding: 0 8px 15px;
    /*    @media (min-width: @screen-md) {
             padding: 0 16px 15px;
            
        }*/
    .clearfix();
    > h1, > h2, > h3, > h4, > h5, > h6, > p {
        padding-left: 8px;
        padding-right: 8px;
    }
}
.base-template {
    .inner-wrapper {
        h1, h2, h3, h4, h5, h6, p {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

hr {
    border-bottom: 1px solid #333;
}

@media (min-width: 767px) {
    [class*="col-"] {
        padding-left: 6.5px;
        padding-right: 6.5px;
    }
    .container {
        padding-left: 13px;
        padding-right: 13px;
    }
    .content-wrapper {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .video-image-component {
        .offsetLR-md-1 {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@media (max-width: @screen-xs) {
    [class*="col-"] {
        padding-left: 8px;
        padding-right: 8px;
    }
    .inner-wrapper {
        padding: 8px;
    }
    .video-image-component {
        .offsetLR-md-1 {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .sponsored-links {
        li {
            margin-bottom: 16px;
        }
    }
}

@media (min-width: 992px) and (orientation:landscape) {
    [class*="col-"] {
        padding-left: 8px;
        padding-right: 8px;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .video-image-component {
        .offsetLR-md-1 {
            margin-left: 8.33333333%;
            margin-right: 8.33333333%;
        }
    }
}

.row {
    position: relative;
}

.pub-content {
    img {
        float: left;
        margin: 0 16px 0 0;
    }
    p {
        display: block;
        a {
            padding: 0;
        }
    }
}

.sponsored-links {
    list-style: none;
    padding: 0 0 16px;
    margin: 0 75px;
    .clearfix();
    li {
        text-align: center;
        img {
            width: 64px;
            height: 64px;
        }
    }
}

.three-column {
    .video-image-component {
        .offsetLR-md-1 {
            margin-left: 0;
            margin-right: 0;
        }
        .col-md-10 {
            width: 100%;
        }
    }
}

.gen-info-list {
    .list-group-item img {
        margin-left: 0;
        border-radius: 10px 0 0 10px;
    }
}

.image-grid-container > *{
    margin-bottom: 16px;

}

.table-ncmec { 
    border-top-right-radius: 12px;
    border-top-left-radius: 12px; 
    border: 1px solid @table-bg-accent;

    margin-left:8px;
    margin-right:8px;
    margin-bottom: 10px;
    
    display: inline-block;
    table{
        font-family: AvenirLTStd-Black;
        font-size: 13px;

        thead {

            color:@white;
            tr {

                color:@white;

                th {
                    padding: 10px 10px 10px 20px;
                    background:@table-bg-accent;  
                    &:first-child{
                        border-top-left-radius: 10px;

                    }

                    &:last-child{
                        border-top-right-radius: 10px;
                    }
                }
            }
        }
        tbody {
            tr {
                border-bottom: 2px solid @table-bg-accent;
                td{

                    padding: 10px 10px 10px 20px;
                }
            }
        }
        
    }
    
}

.seperator {
    margin: 0 8px 34px;
}

.emphasisBlock{
    .title{
        span{
            width: 59%;
            padding: 20px 0;
        }
    }
}

#siteSearchResults {
    
    >p{
        margin-left: 8px;
    }
    dl {
        padding: 0 8px;
    }
    dd{
        padding:10px 0;
        img {
            width:18px;
            height:18px;
            transform: translateY(-13%);
        }
    }

}
.siteSearch{

    margin-top:10px;
    border: 1px solid @headings-color;
    background: @headings-color;
    border-radius: 4px;
    width: 172px;
    margin-left: auto;
    margin-right: auto;
    .textField, .icon{

        display: inline-block;

        padding: 2px;
    }

    .icon{

        background: @headings-color;
        width: 17px;
        display: inline-block;
        padding: 0 2px 0 0;
        border: 0;
        outline: none;
    }
}
#dafdirectdiv{
    width:100% !important;
}


.flex-container {
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
}
.flex-item {
    background: #f1f2f2;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    display: inline-block;
}



/******************  MK Corporate Partners Page MK-1E1 *********************/
.mk-sm .mk-sm-hidden {
    display: none;
}
.mk-sm .mk-sm-visible {
    display: block;
}
.mk-md .mk-md-hidden {
    display: none;
}
.mk-md .mk-md-visible {
    display: block;
}
.mk-lg .mk-lg-hidden {
    display: none;
}
.mk-lg .mk-lg-visible {
    display: block;
}
.mk-sm .blocks > a.col-sm-1 {
    width: 100%;
    padding: 16px;
}
.mk-sm .blocks > a.col-sm-2 {
    width: 50%;
    padding: 16px;
}
.mk-sm .blocks > a.col-sm-3 {
    width: 33.33333333%;
    padding: 16px;
}
.mk-md .blocks > a.col-md-2 {
    width: 50%;
    padding: 16px;
}
.mk-md .blocks > a.col-md-3 {
    width: 33.33333333%;
    padding: 16px;
}
.mk-md .blocks > a.col-md-4 {
    width: 25%;
    padding: 16px;
}
.mk-md .blocks > a.col-md-5 {
    width: 20%;
    padding: 16px;
}
.mk-lg .blocks > a.col-lg-3 {
    width: 33.33333333%;
    padding: 16px;
}
.mk-lg .blocks > a.col-lg-4 {
    width: 25%;
    padding: 16px;
}
.mk-lg .blocks > a.col-lg-5 {
    width: 20%;
    padding: 16px;
}
.mk-lg .blocks > a.col-lg-6 {
    width: 16.666667%;
    padding: 16px;
}
.mk-lg .blocks > a.col-lg-7 {
    width: 14.285714%;
    padding: 16px;
}
a.mk-partnerBlock {
    display: block;
    float: left;
    background-color: #F1F1F2;
    cursor: pointer;
    overflow: hidden;
    padding: 16px;
}
a.mk-partnerBlock .imgBlock {
    display: table;
    position: relative;
}
a.mk-partnerBlock .imgBlock div.imagewrap {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
a.mk-partnerBlock .imgBlock div.imagewrap img {
    height: auto;
    max-height: 200px;
    width: 95%;
    display: block;
    margin: 0 auto;
}
.stars5 .imgBlock {
    height: 200px;
}
.stars4 .imgBlock {
    height: 120px;
}
.stars3 .imgBlock {
    height: 100px;
}
.stars2 .imgBlock,
.stars1 .imgBlock {
    height: 90px;
}
.programPartner .imgBlock {
    height: 120px;
}
.programPartner .mk-partnerBlock .imgBlock .imagewrap img {
    max-height: 120px;
}
.partnerLevel {
    margin: 10px 0;
}
.partnerLevel > ul {
    *zoom: 1;
    margin: 0;
    padding: 0;
    background-color: #a5b7c2;
}
.partnerLevel > ul:before,
.partnerLevel > ul:after {
    display: table;
    content: "";
}
.partnerLevel > ul:after {
    clear: both;
}
.partnerLevel > ul li {
    display: block;
    float: right;
    padding: 5px 1%;
    color: #ffffff;
    font-size: 16px;
    font-size: 1.6rem;
}
.partnerLevel > ul li:first-child {
    float: left;
    width: 150px;
}
.partnerLevel > ul li.stars {
    width: 140px;
    margin-right: 20px;
    background: url("../images/cssImages/stars.png") no-repeat #a5b7c2;
}
.partnerLevel > ul li.stars5 {
    background-position: 28px 0;
}
.partnerLevel > ul li.stars4 {
    background-position: 53px 0;
}
.partnerLevel > ul li.stars3 {
    background-position: 78px 0;
}
.partnerLevel > ul li.stars2 {
    background-position: 103px 0;
}
.partnerLevel > ul li.stars1 {
    background-position: 128px 0;
}
.partnerLevel > ul li.stars0 {
    background-position: 153px 0;
}
.partnerLevel > ul li.dollars {
    width: 120px;
    background-color: #445666;
    text-align: center;
}
.partnerLevel > .blocks {
    margin: 5px 0 20px;
}
.partnerLevel p.programHeader {
    color: white;
    font-size: 16px;
    font-size: 1.6rem;
    background-color: #b6c4cd;
    padding: 5px 10px;
    margin: 10px 0 10px;
}
.partnerLevel p.description {
    margin: 0 0 10px;
}
.partnerLevel div.listBlock {
    background-color: #f7f8fb;
    padding: 20px;
}
.partnerLevel div.listBlock li {
    font-size: 15px;
    font-size: 1.5rem;
    display: block;
    float: left;
    width: 30%;
    margin: 0 3% 10px 0;
    color: #656b79;
    line-height: 1.2;
}

iframe {
    border:0;
}