.footer-container {
    background: #404041;
    text-align: center;
    p {
        color: @gray-lighter;
    }
}
.subscribe-form {

    form {
        text-align: center;
        margin:16px 0;
        .input-subscribe {
            border: 1px solid @yellow-dark;
            border-radius: 5px 0 0 5px;
            height: 24px;
            padding:5px;
            background: transparent;
            color:@white;
            outline:none;
        }
        .btn-subscribe {
            background: @yellow-dark;
            border: 0;
            border-radius: 0 5px 5px 0;            
            height: 24px;
            outline:none;
            color:@gray-darkest;
            border: 1px solid @yellow-dark;
        }

        ::-webkit-input-placeholder { /* Chrome */
            color: @white;
        }
        :-ms-input-placeholder { /* IE 10+ */
            color: @white;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: @white;
            opacity: 1;
        }
        :-moz-placeholder { /* Firefox 4 - 18 */
            color: @white;
            opacity: 1;
        }
    }    
}
.footer-nav {
    margin-bottom: 16px;
    text-align: center;
    ul {
        border-top: 1px solid @gray-lighter;
        list-style: none;
        padding: 16px 0;
        margin: 0;
        li {
            float: left;
            margin: 0 32px;
            a {
                color: @gray-lighter;
            }
        }
    }
}