.header-container {
    background: @header-bg;
    min-height: @header-height;    
}
.navbar {
    .navbar-nav {
        padding-top: 25px;
    }
    .right-section {
        padding: 16px;
        .pull-right();
    }
}