.header-container {

    min-height: @header-height;
    .icon-Image-272:before {
        content: "\e900";
    }
    >.navbar{
        background: @header-bg;
    }

    > .nav {

        > li > a{
            padding-left: 13px;
            padding-right: 13px;
        }
    }
}
.navbar {
    .navbar-nav {
        padding-top: 25px;
    }
    .right-section {
        padding: 16px;
        .pull-right();
    }
}
