.helpline-wrapper {
  text-align: center;
  @media (min-width: 768px){
    display: flex;
  }
  .helpline-content {
    background: #AD1A1F;
    padding: 0;
  }
  .report-content {
    background: #fff;
    h4 {
      margin-top: 5px;
      @media (max-width: 768px){
        font-size: 24px;
      }
    }
    .btn {
      background: #AD1A1F;
      font-size: 16px;
      padding: 5px 30px;
      text-transform: none;
      margin-bottom: 5px;
      &:hover{
        background: #d43f3a;
      }
    }
  }
}
