
.hero-banner-wrapper {
   @media (min-width: @screen-sm) {
     max-width: 1024px;
   }
  .hero-banner {
    position: relative;
    height: 218px;
    overflow: hidden;
    @media (min-width: @screen-sm) {
      height: 397px;
    }
    @media (min-width: @screen-md) {
      height: 435px;
    }
    picture, img {
      height: 100%;
      max-width: none;
      @media (min-width: @screen-sm) {
        width: 100%;
        height: auto;
      }
    }
    iframe {
      position: absolute;
    }
    .hero-content-wrapper {
      position: absolute;
      left: 10px;
      top: 10px;
      display: inline-block;
      @media (min-width: @screen-sm) {
        left: 40px;
        top: 30px;
      }
      .hero-content {
        .title {
          max-width: 200px;
          color: inherit;
          line-height: 32px;
          margin: 0 0 12px;
          font-size: 24px;
          @media (min-width: @screen-sm) {
            max-width: 260px;
            margin: 0 0 24px;
            font-size: 36px;
            line-height: 46px;
          }
          @media (min-width: @screen-md) {
            margin: 0 0 32px;
          }
        }
        .desc {
          max-width: 380px;
          color: inherit;
          font-size: 16px;
          line-height: 24px;
          @media (min-width: @screen-sm) {
            font-size: 24px;
            line-height: 32px;
            max-width: 625px;
          }
        }
        &.white {
          color: #fff;
        }
      }
    }
  }
}
