.sponsored-block {
    background: @gray-lighter;
    border-radius: 10px 10px 0 0;
    margin-bottom: 16px;
    ul{
        list-style: none;
        padding: 16px;
        margin: 0;
        display: inline-flex;
        flex-wrap: wrap;
        .clearfix();
        li {
            padding-bottom: 16px;
            vertical-align: middle;
            a {
                color: @gray-darker;
                display: block;
                text-align: center;
            }
        }
    }
    .footer {
        background: @headings-color;
        border-radius: 0 0 10px 10px;
        height: 66px;
        .title {
            .pull-left();
            font-family: @font-family-serif;
            font-size: @font-size-small;
            color: @brand-primary;
            font-weight: normal;
            line-height: 19px;
            padding: 23px 16px 24px;
        }
        .right-block {
            .pull-right();
            .ratings {
                margin: 0;
                padding: 23px 16px;
                list-style: none;
                background: transparent;
                .pull-left();
                li {
                    padding-bottom: 0;
                    .pull-left();
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .contribution-amt {
                background: @blue-light;
                border-radius: 0 0 10px 0;
                font-family: @font-family-serif;
                font-size: @font-size-small;
                color: @white;
                width: 145px;
                line-height: 19px;
                padding: 14px 0;
                text-align: center;
                .pull-left();
            }
            .contribution-amt-gt-400 {
                font-size: 24px;
                line-height: 31px;
                padding: 18px 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .sponsored-block {
        .footer {
            height: 42px;
            .title { 
                font-size: @font-size-base;
                line-height: 16px;
                padding: 13px 16px;
            }
            .right-block {
                .ratings {
                    padding: 0 13px;
                    li {
                        padding: 13px 0;
                        img {
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
                .contribution-amt {
                    width: 93px;
                    line-height: 16px;
                    font-size: 13px;
                    padding: 5px 0;
                }
                .contribution-amt-gt-400 {
                    width: 93px;
                    line-height: 16px;
                    font-size: 13px;
                    padding: 13px 0;
                }
            }
        }
    }
}

@media (max-width: @screen-xs) { 
    .sponsored-block {
        .footer {
            height: 66px;
            .title { 
                font-size: @font-size-small;
                line-height: 16px;
                width: 168px;
                padding: 16px 16px 17px;
            }
            .right-block {
                .ratings {
                    padding: 25px 5px;
                    li {
                        padding: 0;
                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                .contribution-amt {
                    width: 104px;
                    line-height: 19px;
                    font-size: 16px;
                    padding: 14px 0 15px;
                }
                .contribution-amt-gt-400 {
                    width: 93px;
                    line-height: 19px;
                    font-size: 16px;
                    padding: 24px 0 23px;
                }
            }
        }
    }
}


// Custom Column 5 Row
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    .stars5 .imgBlock {
        height: 170px;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}