   .ncmec-style-page{      
            .nomargin{
                margin:0px;
            }
            .safety-store-images{
              
               display:block;
                margin:0 auto;   
                width: 50%;
                 margin-top:16px;
            }         
            .safety-store-images img{
                height: 30px;
                width: 100px;
                vertical-align: middle;    
            }
   }