.search-missing-children{
.radio-section{
border : 1px solid red;
border-radius: 8px;
margin-bottom: 20px;
display: inline-block;
}
.radio-section-individual {
 border-right : 1px solid red;
 display: inline-block;

}

.radio-section-individual label{
    margin-bottom:0px;
     padding:12px;
}

.form-horizontal-cover {
    padding:16px;
    margin-bottom:20px;
    border:1px solid grey;
}

.radio-section-individual:last-child {
 border-right:none;
}
.form-horizontal-cover .form-horizontal .control-label {
    text-align:left;
}

form.form-horizontal label{
        text-align:left;
}
.radio-section input {
   display: none;
}


/*input[type="radio"]:checked+div .radio-section-individual{
     background-color: red;
 }*/

 input[type="radio"]:checked + label:last-of-type {
    background-color:red;
    border-radius:8px;
    border-top-left-radius:0px;
    border-bottom-left-radius : 0px;
   // padding:12px;   
}

 input[type="radio"]:checked + label:first-of-type {
    background-color:red;
    border-radius:8px;
    border-top-right-radius:0px;
    border-bottom-right-radius : 0px;
   // padding:12px;   
}
//  input[type="radio"]:checked + input{
//     background-color:red;
//    // padding:12px;   
// }


.form-header {
border: 1px solid grey;
background-color: grey;
padding:5px 0px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.form-header p{
   text-align:left;
color:white;
padding: 0px 12px;
}

.form-header button{
  background-image: url("../../images/collapse-minus.png");
  float:right;
  background-color:transparent;
  background-repeat:no-repeat;
  border:none;
  padding:8px;
  
}
}
