* {
      margin: 0;
      padding: 0;
    }
      .content-wrapper {
          position: relative;
      }
    .stickyWrapper{
        z-index: 1;
        position: fixed;
        width: 156px;        
        padding: 5px;
        bottom: 0;
        background: #c6c8ca;
        border-radius: 5px;
    }
      .absolute {
          position: absolute !important;
      }
    .stickyBox{        
        color: #626366;
        padding: 10px 0 2px 0;
        height: auto;
        
        li {  
            
            list-style: none;
            background: #fff;
            border-radius: 10px;
            //border: 1px solid #d5d6d8;
            //padding: 10px 25px;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            margin-top: 10px;
            margin-left: -15px;
            i {
                cursor: pointer;
                color: #C6C8CA;
                position: absolute;
                right: 8px;
                top: 8px;
            }
            a {                
              text-decoration: none;
              color: #626366; 
              padding: 10px 25px;
              display: block;
              font-family: @font-family-serif;
            }
        }
        li:first-child {
            margin-top: 0;
        }
        
        
    }
    #arrow{
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 45%;
        z-index: 9;
    }
    #arrow.down{
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 7px solid #626366;
    }
    #arrow.up{
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 7px solid #626366;
    }
    /*.stickyBox li:first-child{
        margin-top: 0;
    }
    .stickyBox li{
        list-style: none;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #d5d6d8;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        margin-top: 10px;
    } 
    .stickyBox li i {
        color: #C6C8CA;
        position: absolute;
        right: 8px;
        top: 8px;
    } */




@media (min-width: 767px) {
    
}

@media (max-width: @screen-xs) {
    #arrow {
        left: 48%;
    }
    .stickyBox li:first-child{
        margin-top: 10px;
    }
    .stickyWrapper {
        position: fixed;
        width: 350px;
        left: 0;
        right: 0;
        padding: 5px 0 0;
        margin: 0 auto;
    }
    .stickyBox{
        height: auto;
        padding: 0;
    }
    .stickyBox li {    
        width: 48%;   
        margin-left: -0;     
    }
    .stickyBox li:nth-child(odd){
        float: left;
    }
    .stickyBox li:nth-child(even){
        float: right;
    }
}
