.teaser{
    &.teaser-form {
        .panel-heading {
            background: @white;
            h5 {
                position: static;
                top: 0;
                left: 0;
                text-align: left;
            }
            .control-label {
                color: @gray-darker;
                padding: 0;
            }
            .form-group > [class*="col-"] {
                padding-right: 0;
            }
        }
    }
    margin-top: @panel-body-padding;
    .panel {
        margin-bottom: @line-height-computed;
        background-color: transparent;
        border: 0;
        border-radius: 10px 10px 0 0;
    }
    .panel-body {
        padding: @panel-body-padding;
        background: @headings-color;
        border-radius: 0 0 10px 10px;
        &:extend(.clearfix all);
        h5 {
            padding-top: 0;
        }
        a {
            color: @blue-lighter;
            font-size: @font-size-base;
            line-height: @font-size-small;
        }
        button, a.btn-teaser {
            color: @white;
            font-size: @font-size-small;
            padding-top: 8px;
            padding-bottom: 8px; 
            line-height: 1.33;
        }
        
        .link-heading{
         padding-bottom: 4px;
         a{
            color: @blue-lighter;
            font-size: 16px;
            line-height: 16px;
            font-weight: 500;
         }
            
        }
        .pdf-list {
            .pdfLink {
                color: @blue-lighter;
                line-height: 18px;
            }
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    .panel-heading {
        position: relative;
        background-color: @white;
        padding: @panel-heading-padding;
        border-bottom: 0;
        .border-top-radius(@panel-border-radius);
        text-align: center;
        > .dropdown .dropdown-toggle {
            color: inherit;
        }
        &.no-pad {
            padding: 0;
            img {
                border-radius: 10px 10px 0 0;
            }
        }
        &.no-pad-LR {
            padding: 16px 0;
        }
        > h5 {
            position: absolute;
            top: 16px;
            right: 16px;
            line-height: 19px;
            font-weight: normal;
        }
        > h5.search-wizard{
            position:static;
            text-align: left;
        }
        >p.search-wizard{
            text-align: left;
            margin-bottom: 0px;
        }
        .form-group {
            margin-left: 0;
            margin-right: 0; 
        }
    }
}

// Custom Panel Styles

.ncmec-irs-forms {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  li {
    line-height: 16px;
    padding-bottom: 10px;
    &:last-child {
        padding-bottom: 0;
    }
    a {
        background: url("../../images/pdf-icon-small.png") no-repeat 0 1px;
        padding-left: 20px;
    }
  }
}

.daf-direct {
   > .daf-direct-logo {
        .pull-left();
        padding-right: 16px;
    }
}

.select-state {
    padding: 16px 0 0;
    select {
        border: 0;
        color: @blue-darker;
    }
}

.missing-person-lists {
    list-style: none;
    padding: 0;
    line-height:18px;
    li {
        color: @gray-lighter;
        margin-bottom: 16px;
        .clearfix();
        img {
            .pull-left();
            margin-right: 16px;
        }
        h5 {
            margin-bottom: 10px;
        }
        small {
            font-size: 11px;
        }
        .missing-person-link {
            padding-top: 10px;
        }
        
    }
}

.missing-person-link {
  a {
    color:#92D6E3;
    &.active {
        color: @white;
        font-weight: bold;
        text-decoration: underline;
    }
  }
}

.teaser-component { 
    .teaser {
        .panel {
            .panel-body {
                h1, h2, h3, h4, h5, h6 {
                    color: @gray-lighter;
                }
                p, span, small {
                    color: @gray-lighter;
                }
                a {
                    font-size: @font-size-base;
                    line-height: @font-size-small;
                }
            }
        }
    }
}