.hero-banner-wrapper .hero-banner {
  position: relative;
  height: 218px;
  overflow: hidden;
}
@media (min-width: 767px) {
  .hero-banner-wrapper .hero-banner {
    height: 397px;
  }
}
@media (min-width: 992px) {
  .hero-banner-wrapper .hero-banner {
    height: 435px;
  }
}
.hero-banner-wrapper .hero-banner picture,
.hero-banner-wrapper .hero-banner img {
  max-width: none;
  position: absolute;
  min-width: 100%;
  left: 0;
  top: 0;
}
.hero-banner-wrapper .hero-banner iframe {
  position: absolute;
}
.hero-banner-wrapper .hero-banner .hero-content-wrapper {
  position: relative;
}
@media (min-width: 767px) {
  .hero-banner-wrapper .hero-banner .hero-content-wrapper {
    left: 40px;
    top: 30px;
  }
}
.hero-banner-wrapper .hero-banner .hero-content-wrapper .hero-content {
  position: absolute;
  left: 10px;
  top: 10px;
}
.hero-banner-wrapper .hero-banner .hero-content-wrapper .hero-content .title {
  max-width: 200px;
  color: inherit;
  line-height: 32px;
  margin: 0 0 12px;
  font-size: 24px;
}
@media (min-width: 767px) {
  .hero-banner-wrapper .hero-banner .hero-content-wrapper .hero-content .title {
    max-width: 260px;
    margin: 0 0 24px;
    font-size: 36px;
    line-height: 46px;
  }
}
@media (min-width: 992px) {
  .hero-banner-wrapper .hero-banner .hero-content-wrapper .hero-content .title {
    margin: 0 0 32px;
  }
}
.hero-banner-wrapper .hero-banner .hero-content-wrapper .hero-content .desc {
  max-width: 380px;
  color: inherit;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 767px) {
  .hero-banner-wrapper .hero-banner .hero-content-wrapper .hero-content .desc {
    font-size: 24px;
    line-height: 32px;
    max-width: 625px;
  }
}
.hero-banner-wrapper .hero-banner .hero-content-wrapper .hero-content.white {
  color: #fff;
}